# Copy this file to a new file named .env in backend/
# Then replace the placeholder values with your local configuration.

PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/toursDB
JWT_SECRET=supersecretdevkey123
GOOGLE_CLIENT_ID=93639031181-vlni40fi4c6r98cve41lo6rjbarph0n6.apps.googleusercontent.com

